.balance-card {
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
      font-size: 20px;
      margin-left: auto;
    }
  }

  &__header-icon {
    width: 40px;
    margin-right: 10px;
  }

  &__content-summary {
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 12px;
  }
}
